@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600;700&display=swap');




@import url('./Navbar.css');
@import url('./Sidebar.css');
@import url('./Hero.css');
@import url('./Services.css');
@import url('./Experience.css');
@import url('./Projects.css');
@import url('./Footer.css');

:root {
 --bg-gray: #f6f6f2;
 --main-color: #388087;
 --component-color: #cdedce;

  --text-color: #FAED26;
  --dark-bg-color: #46344e;
  --gray-bg-color: #5a5560;
  --light-bg: #9d8d8f;
  --brown-bg: #9b786f;

}

*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;

  overflow-x: hidden;
}

.container {
  width: 70%;
  margin: 0 auto;
  position:relative;
}

:root {
  --font-color: #000;
}

.btn {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}


.section-wrapper {
  padding: 5rem 0;
}

.page-wrapper {
  padding: 5rem 0;
  height: 100%;
}

.bg-gray {
  background-color: var(--bg-gray);
}

.title-wrapper {
  font-size: 1.5rem;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.title-wrapper-left {
  text-align: left;
  margin-left: 0;
}

.title-underline {
  width: 20%;
  background-color: var(--main-color);
  height: 4px;
  margin: .5rem auto;
}

.title-underline-left {
  margin-left: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
   height: 100vh;
  justify-content: space-between;
}

.d-flex {

  display: flex;
  align-items: center;

}

/* SINGLE PROJECT PAGE */

.single-project-page-wrapper {
  width: 100%;
  height: 100%;
}

.single-project-inner {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
 
}

.single-project-title {
  font-size: 2.5rem;
}

.single-project-description {
  text-align: justify;
  letter-spacing: .1rem;
  line-height: 1.5;
}


/** ABOUT PAGE **/

.about-inner {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}

.about-img-wrapper {
  width: 100%;
  height: 100%;
}

.about-text {
  text-align: justify;
  line-height: 1.5rem;
}

.about-stack-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;

}

.about-stack-list li{
  text-transform: uppercase;
  background-color: #ddd;
  padding: .5rem;
  border-radius: 5px;
}

/*** CONTACT PAGE ***/

.contact-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.form-wrapper {
  background-color: #fff;
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
}

.form,
.form-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-inner {
  padding: 0 2rem;
}

.form-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.form-inner input,
.form-inner textarea {
  padding: .75rem .5rem;
  border: none;
  background-color: var(--bg-gray);
  color: #000;
  font-family: inherit;
  border: 1px solid transparent;
}

.form-inner input:focus,
form textarea:focus
 {
  border: 1px solid var(--main-color);
  outline: none;
}

form input::placeholder,
form textarea::placeholder {
  color: #000;
  letter-spacing: .25rem;
  font-size: .75rem;
}

.btn-form {
  background-color: var(--bg-gray);
  padding: 1rem 0;
  cursor: pointer;
  transition: all .25s ease-in-out;
  font-weight: bold;
  font-size: 1rem;
}

.btn-form:hover {
  background-color: var(--main-color);
  color: #fff;
}

/*** SUCCESS PAGE ***/

.success-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.btn.btn-success {
  border: 2px solid var(--main-color);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  color: var(--main-color);
  transition: all .25s ease-in-out;
}

.btn.btn-success:hover {
  background-color: var(--main-color);
  color: var(--bg-gray)
} 


/******************************** PHONE QUERIES /********************************/

@media screen and (max-width: 750px) {
  .container {
    width: 87%;
  }

     /** ABOUT PAGE **/

  .about-inner {
    grid-template-columns: 1fr;
  }

  .about-stack-list {
    justify-content: center;
  }

}














